# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\shangGuiGuJava\java02_Stack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
